@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

.leaflet-top {
  z-index: 0 !important;
}

.skin-blue .main-header .navbar{
  background: #EDEDED!important;
  border-bottom: 1px solid #D9DEE4;
}

.skin-blue .main-header .logo{
  background-color: #2A3F54!important;
}

.sidebar-menu:hover {
  overflow: hidden!important;
}

.skin-blue .sidebar-menu > li:hover > a {
  background: #0875c291;
  font-style: italic;
  font-stretch: expanded;
}

.skin-blue .main-sidebar{
  background-color: #2A3F54!important;
}

.shiny-split-layout > div{
   overflow: visible;
}

.skin-blue .main-header .navbar .sidebar-toggle {
    color: #3f72af;
}

.description-block>.description-header {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 24px;
  color: #3a9ddc;
}

.skin-blue .sidebar-menu>li>a {
  border-right: 5px solid transparent;
  border-left: 0px!important;
}

.skin-blue .sidebar-menu>li.active>a {
  border-right-color: #3a9ddc;
  background: #145a6f;
  font-weight: bold;
}

.skin-blue .sidebar-menu>li>.treeview-menu {
    background: #2a3f54;
    border-right: 5px solid #3a9ddc;
    padding-left: 10px;
    margin-right: -0.5px;
}

.box-header.with-border {
    border-bottom: 2px solid #E6E9ED;
}

.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu>li.header {
  margin-top: 10px;
}

.content-wrapper{
  background-color: #F7F7F7;
  height:100%!important;
  position:relative!important;
  overflow-x:hidden!important;
  overflow-y:hidden!important;
  width: calc(100% - 230px);
}

.dashboard_title{
  font-size: 24px;
  margin-top: 2px;
  color: #3f72af;
  font-family: 'Roboto'!important;
}

/*Modif sur les titres des box*/
/*.box-header h3.box-title{
  color: #3f72af
}*/

.btn.btn-box-tool.btn-sm{
  color: #3f72af;
}

.sidebar-menu li a {
  font-family: 'Roboto'!important;
}

.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
  color: #fff;
  background: #145a6f;
  font-weight: bold;
}

.skin-blue .sidebar-menu .treeview-menu>li>a {
  background: #2a3f54;
}

.sidebar-menu>li {
  position: relative;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e0e3e747;
}

.main-sidebar .user-panel, .sidebar-menu, .sidebar-menu>li.header {
  border-top: 1px solid #e0e3e747;
}

.titre_menu{
  font-family: 'Roboto'!important;
}

h1:not(.pg-loading-logo-header) {
  font-family: 'Roboto'!important;
  top: -30px;
  position: relative;
  width: 100%;
  text-align: left !important;
  color: #3f72af;
  padding: 10px 13px;
  /*background: #edeef0;*/
  font-size: 24px;
  z-index: 1;
}

.box .border-right {
  border-right: 2px solid #ADB2B5;
}

.box-body{
  font-family: 'Roboto'!important;
}

.box-header h3.box-title{
  font-family: 'Roboto'!important;
}

.nav-tabs-custom>.nav-tabs>li.header {
  color: #3f72af;
  font-family: 'Roboto'!important;
}


.tab-content{
  position: relative;
  top: 25px;
}

.row{
  position: relative;
  top: -25px;
}

.nav-tabs-custom>.nav-tabs {
  margin: 0;
  border-bottom-color: #f4f4f4;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom: 2px solid #E6E9ED;
}

.nav-tabs-custom {
  margin-bottom: 20px;
  box-shadow: 0 0px 0px!important;
  border-radius: 0px!important;
  border: 1px solid #E6E9ED!important;
}

/*.box{
  background: white;
  box-shadow: 0px 0px 0px;
  border-radius: 0px!important;
  border: 1px solid #E6E9ED!important;
}*/

.logo_projet{
  margin-right: 10px;
  margin-left: 10px;
  position: absolute;
  background:0 #ededed;
  bottom: 10px;
  padding: 2px;
}
